body {
    overflow: visible;
    width: 100%;
    height: 100%;
    font-family: 'Noto DemiLight',sans-serif;
    line-height: 1.4;
    font-size: 18px;
    color: #333;
    letter-spacing: 0;
    word-wrap: break-word;
}

dt{
    font-size: 20pt;
    color: #004098;
    font-weight: 600;
    margin-bottom: 10pt;
}
.wrap_major_5 dt {
    padding: 20px 30px;
}
.wrap_major_5 dd {
    padding: 20px 30px 30px;
    
}
.wrap_major_5 dt {
    width: 250px;
}
.wrap_major_5 dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 30pt;
    margin-left: 50pt;
    max-width: 100%;
    position: relative;
}

.wrap_major_7 {
    background: url(images/nMajorQna_bg.png) no-repeat right bottom;
    background-image: url(images/nMajorQna_bg.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-bottom: 200px;
}
.wrap_major_7.container {
    max-width: 96%;
}
.wrap_major_7.container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.wrap_major_5 .container{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.objHeading_h2:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 30px;
    background: url(../images/h3_icon.png) no-repeat center;
    margin: 0 5px 15px 0;
}
.majorMainName{
    margin-top: 60pt;
    color: #333333;
    display: flex;
    font-family:monospace;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
p{
    line-height: 0.2;
    font-family: 'Noto DemiLight',sans-serif;
    margin-left: 100px;
}
.introContainer p{
    line-height: 1.5;
    font-family: 'Noto DemiLight',sans-serif;
    margin-left: 100px;
    padding: 0;
    margin: 100px;
}
.introContainer{
    font-size: 15pt;
}
.wrap_major_5 dt {
    width: 300px;
    font-size: 22px;
    color: #FFF;
    text-align: center;
    background: #014099;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.textMiddle{
    font-family: monospace;
    font-size: 30px;
    margin-left: 100px;
    text-align: left;
    justify-content: left;
    font-weight: 600;
}
.textMiddle1{
    margin-left: 100px;
    font-family: monospace;
    font-size: 40px;
    text-align: left;
    justify-content: left;
    font-weight: 600;
    color: #004098;
}
.container{
    display: flex;
    align-items: flex-start;
}
.imageContainer{
    order:2;
    flex: 0 0 auto;
    margin-right:20px;
    margin-left:20px
}
.textContainer{
    order: 1;
    flex:1;
    font-family: monospace;
    font-size: 17px;
    color: #363636;
}
.mainPicture{
    width: 100%;
    height: 30%;
    background-image: url('../images/main_picture.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
.NumAndLoc{
    background-color: #FBFBFB;
}
dl{
    align-items: center;
    display: flex;
    height: 70px;
}
.wrap_major_7 dl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #d6d6d6;
    padding: 30px 0;
    position: relative;
    margin-left: 100pt;
    
}
table {
    text-align: center;
    width: 70%;
    margin-left: 100px;
    border-collapse:collapse;
    border-top: 2px solid #004594; /* 위쪽 테두리 추가 */
    border-bottom: 1px solid #DDDEE0; /* 아래쪽 테두리 추가 */
}
td{
    border-top: 1px solid #DDDEE0; /* 셀의 위쪽 테두리 */
    border-bottom: 1px solid #DDDEE0; /* 셀의 아래쪽 테두리 */
}

.overlayText {
    position: absolute;
    top: 50%; /* 상단에서부터 50% 위치에 */
    left: 50%; /* 좌측에서부터 50% 위치에 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    color: white; /* 텍스트 색상 */
    font-size: 30px; /* 텍스트 크기 */
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    background-color: white;
    color: black;
    padding: 10px 20px; /* 패딩 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 밑줄 없애기 */
    display: inline-block;
    font-size: 20px;
    margin-left: 80pt;
    cursor: pointer;
    border: 1px solid #C5C5C5;
    transition: 0.3s;
}
.button1 {
    margin-top: 20pt;
    background-color: white; /* 녹색 배경 */
    color: black;
    padding: 10px 20px; /* 패딩 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 밑줄 없애기 */
    display: inline-block; /* 인라인-블록 디스플레이 */
    font-size: 20px; /* 폰트 크기 */
    margin-left: 20pt;
    cursor: pointer; /* 커서 포인터로 설정 */
    border: 1px solid #C5C5C5;
    transition: 0.3s;
}
/* 호버 효과 */
.button:hover {
    background-color: #EEEEEE; 
}
.button1:hover {
    background-color: #EEEEEE;
}
.objHeading_h2{
    margin-top: 58px;
    margin-left: 100px;
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Noto DemiLight',sans-serif;
    font-weight: 400;
    
}

.objHeading_h2:before {
    content: "";
    background: url(../images/h3_icon.png) no-repeat center;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 15px 0;
    z-index: 3;
}
::before,:before{
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
*, :after, :before, ::after, ::before {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* CSS 코드 시작 */

body {
    word-break: break-all;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: visible;
    width: 100%;
    height: 100%;
    font-family: 'Noto DemiLight', sans-serif;
    line-height: 1.4;
    font-size: 18px;
    color: #333;
    letter-spacing: 0;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 400;
}

*, :after, :before, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

.wrap_sub_visual{
    z-index:-1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.eQ01 .wrap_sub_visual:before {
    background: url(../images/sub_visual_1.jpeg) no-repeat center top;
}


.wrap_sub_visual:before {
    animation-name: subVisual;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@media (max-width: 1280px) {
    .sub .wrap_contents {
        margin-top: 430px;
    }
}

.sub .wrap_contents {
    background: #FFF;
    position: relative;
    padding-bottom: 100px;
    margin-top: 400px;
}


.wrap_sub_visual::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover !important;
}
.wrap_sub_visual .container {
    padding-top: 275px;
}
.container .visual_intro {
    text-align: center;
}
.wrap_sub_visual .container .visual_intro strong {
    display: inline-block;
    color: #FFF;
    font-family: 'S-CoreDream-5Medium';
    font-size: 35px;
}
@media (max-width: 768px) {
    .sub .wrap_contents {
        margin-top: 252px;
    }
}
.textContainer table{
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed; /* 고정된 테이블 레이아웃 사용 */
}
table {
    width: 50%;
    border-collapse: collapse;
    margin-left: 10px;
    margin: 0 0 0 99px;
    table-layout: fixed; /* 고정된 테이블 레이아웃 사용 */
}

th, td {
    border: 1px solid #ddd; /* 셀 경계 */
    padding: 8px; /* 셀 패딩 */
    text-align: left; /* 텍스트 정렬 */
    word-wrap: break-word; /* 텍스트 자동 줄바꿈 */
}

th {
    background-color: #f2f2f2; /* 헤더 행 배경색 */
}

th:nth-child(1), td:nth-child(1) {
    width: 15%; /* 첫 번째 열: 작성일자 */
}

th:nth-child(2), td:nth-child(2) {
    width: 50%; /* 두 번째 열: 글제목 */
}

th:nth-child(3), td:nth-child(3) {
    width: 20%; /* 세 번째 열: 작성자 */
}

th:nth-child(4), td:nth-child(4) {
    width: 15%; /* 네 번째 열: 조회수 */
}

.line {
    width: 80%; /* 선의 너비 설정 */
    height: 2px; /* 선의 높이 설정 */
    background-color: #004594; /* 선의 색상 설정 */
    margin: 20px auto; /* 선 위아래로 여백 설정, 가운데 정렬 */
}

.page_title {
    background: #FFF;
    padding: 50px 0;
    position: relative;
}

.page_title h1 {
    color: #333;
    font-size: 35px;
    font-family: 'S-CoreDream-5Medium';
    text-align: center;
}
@media (max-width: 768px) {
    .page_title h1 {
        font-size: 24px;
    }
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
._contentBuilder {
    position: relative;
}
header, article, section, nav, footer {
    display: block;
}

article {
    display: block;
    unicode-bidi: isolate;
}
.main{
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-color: #FFF;
    position: absolute;
}

.container {
    position: relative;
    padding-top: 30px;
     /* 필요한 경우 padding-top을 조정 */
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
/* CSS 코드 끝 */