.textContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.count {
    display: flex;
    color: #000000;
    white-space: nowrap;
    margin-top: 70px;
    margin-bottom: 20px;
    justify-content: flex-first;
}


.txt {
    display: flex;
    color: #CB2026;
    white-space: nowrap;
    margin-top: 70px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.searchContainer{
    display: flex;
    align-items: center;
    margin: 0 50px;
}


.box{
    display: flex;
    align-items: center;         /* 수직: 중앙 */
    justify-content: center;     /* 수평: 중앙 */
    width: flex;
    height: 100px;
    margin: 0 50px;
    background-color: #F5F6F8;
}


.text{
    font-size: 20px;
    font-weight: bold;
    color: #18327C;
    margin-right: 40px;
}


.comboBox{
    width: 120px;
    height: 45px;
    margin-right: 6px;
    text-indent: 15px;  /* 텍스트 들여쓰기 */
}


.searchBox{
    width: 260px;
    height: 40px;
    text-indent: 10px;
}


.textBox{
    width: 100px;
    height: 45px;
    margin-left: 50px;
    background-color: white;
    color: black;
    border: solid 1px;
    border-radius: 2px;
    cursor: pointer;
}

.textBox:hover {
    background-color: lightgray;
}

.searchButton{
    width: 50px;
    height: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.searchButton ion-icon{
    font-size: 1.2em;
    color: #18327C;
}